

<script>
    // insert book
   $("#btnsave").click(function()
   {
       //console.log("save button clicked");
     output="";
   let sid= $("#stuid").val();
   let nm= $("#Book_nameid").val();
   let em= $("#available_stockid").val();
   let pw= $("#writterid").val();

   if(nm=="")
  {
    console.log("please enter book name");
  }
   else if( em=="")
  {

    console.log("please enter stock in word");
  }
   else if(pw=="")
  {
    console.log("please enter writter name");

  }
   else 
  {
  mydata={stuid:sid , Book_name:nm, available_stock:em, writter:pw};
  $.ajax({
   url:"{% url 'save' %}",
   method:"post",
   data: mydata,
   dataType: "json",
   success:function(data){
   //console.log(data);
   if (data.success == "save"){

     console.log("form submitted successfully");
     //console.log(data.student_data);
     x=data.student_data;
     for(i=0; i<x.length ;i++)
     {
      output += "<tr><td>" + x[i].id + "</td><td>" + x[i].Book_name 
        + "</td><td>" + x[i].available_stock
        + "</td><td>" + x[i].writter + "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit' value='Edit' data-sid= " + x[i].id + "><input type='button' class='btn btn-danger btn-sm btn-del' value='Delete' data-sid= " + x[i].id + ">  "
     }
     $("#tbody").html(output);

     $("form")[0].reset();
   }

   if (data.success == 0){

    console.log("anable to save form");
  }
    },

});
  }
});
   

// Delete book entry
 $("tbody").on("click","btn-del",function ()
   {
     // console.log("delete button");
      let id= $(this).attr("data-sid");
      mydata={sid:id},
      mythis=this,
      $.ajax({
        url:"{% url 'delete' %}",
        method:"post",
        data: mydata,
        success:function(data){
          //console.log(data);
          if (data.success == 1){
            console.log("book entry deleted  successfully");
            $(mythis).closest("tr").fadeOut();
          }
          if (data.success == 0){
            console.log(" unable to delete Book entry successfully");
           }
         },
      });
   });

//editing  book entry
$("tbody").on("click","btn-edit",function ()
   {
     // console.log("delete button");
      let id= $(this).attr("data-sid");
      mydata={sid:id}
    
      $.ajax({
        url:"{% url 'edit' %}",
        method:"post",
        data: mydata,
        dataType:"json",
        success:function(data){
          //console.log(data);
          $("#stuid").val(data.id);
           $("#Book_nameid").val(data.Book_name);
           $("#available_stockid").val(data.available_stock);
           $("#writterid").val(data.writter);

          
         },
      });
   });


</script>
